
.pink{
  color: rgb(255, 192, 203) ;
}
.blue{
  color: skyblue;
}
body{
  font-family: "Arial", "Meiryo", sans-serif;
  font-size: 20px;
  text-align: center;
}
.google-fonts{
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1{
  font-size: 2rem;
  letter-spacing:  1.2em;
  text-shadow: 2px 2px 2px grey;
  border-bottom: solid rgb(115, 115, 114);
}
html{
  
}
#basic > p{
  font-weight: bold;
}
.google-fonts{
  
.noto-sans-jp-<uniquifier> {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
}
